@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
    background-image: url("https://image.winudf.com/v2/image1/Y29tLnZtLmFuZHJvaWQubGl2ZXdlYXRoZXIuYWVnbDIubGl0ZV9zY3JlZW5fN18xNTY3MDAyNjE3XzA5OQ/screen-7.jpg?fakeurl=1&type=.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    color: white;
}

input {
  background-color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  min-width: 300px;
}

input:focus {
  outline: none;
}

.weather {
  font-size: 2rem;
  text-align: center;
}

.weather h2 {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

